extend layout

block main
  h1(style='font-weight: 100; font-size:46px;') Edit
  span
    include _form
    .row(style="margin-top:10px; margin-left:4px;")
      a(href='#{fullPath}' style='font-size:18px') Home 