.row
  .col-md-12
    // 'models' specified in controller in lib/index.js
    div   
      a(href='#{fullPath}/new') New  
    each model in models
      .row
        .col-md-8
          = model
        .col-md-4
          // #{} allows you to use variable in a string
          // ._id is an actual mongoose property, grabs the id of the mongoose doc
          a(href='#{fullPath}/#{model._id}') View
    