!!! 5
html
  head
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
    link(rel='stylesheet', href='/css/bootstrap-glyphicons.css')
  header 
  body
    .container
      block main
      block content
